<%= render 'top' %>

<div class="container">
  <% @teams.each do |team| %>
  <a href="<%= team.url %>" target="_blank">
    <div class="card">
      <div class="card-info">
        <h5><%= team.desc %></h5>
        <p><%= team.name %></p>
      </div>
      <div class="card-img">
        <div class="sample-img" style='background-image: url(<%= team.image == Team::IMG ? asset_path("lion.jpg") : team.image %>)'></div>
      </div>
    </div>
  </a>
<% end %>

</div>
