<div class="container">

  <div class="team">
    <div class="member">
      <p class="name">노종원</p>
      <p>동국대학교 대표</p>
      <div class="sns">
        <a href="http://wantknow.tistory.com/" target="_blank"><img class="icon" src="<%= asset_path tistory.png %>" alt=""></a>
        <a href="https://www.facebook.com/jom11333333" target="_blank"><img class="icon" src="<%= asset_path fb.png %>" alt=""></a>
        <a href="https://www.instagram.com/jong1no/" target="_blank"><img style="width: 2.5rem; height: 2.5rem;" class="icon" src="<%= asset_path insta.png %>" alt=""></a>
      </div>

    </div>
    <div class="member">
      <p class="name">박영조</p>
      <!-- <span style="font-size: 80px; line-height: 50px;">ㅡ</span> -->
      <p>성결대학교 대표</p>
      <div class="sns">
        <a href="http://playinlion.tistory.com/" target="_blank"><img class="icon" src="<%= asset_path tistory.png %>" alt=""></a>
        <a href="https://www.facebook.com/playinys" target="_blank"><img class="icon" src="<%= asset_path fb.png %>" alt=""></a>
        <a href="https://www.instagram.com/yal._____/" target="_blank"><img style="width: 2.5rem; height: 2.5rem;" class="icon" src="<%= asset_path insta.png %>" alt=""></a>
      </div>

    </div>

    <a href="https://www.facebook.com/cowx2ater/" target="_blank"><img class="we" src="assets/128.jpeg" alt=""></a>
  </div>



</div>
