<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90057623-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90057623-5');
    </script>
    <title>Lions-Pick (당신의 사자를 픽하세요!)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= favicon_link_tag '128_logo_black.jpg' %>
    <meta property="og:title" content="Lions-Pick"/>
    <meta property="og:url" content="http://www.lionspick.com/"/>
    <meta property="og:image" content="<%= asset_path("likelion.png") %>"/>
    <meta property="og:description" content="당신의 사자를 픽하세요!"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
    <%= render 'menu' %>
  </body>
</html>
